name: wer

on: push

jobs:
  deploy:
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: AKIA3RXNTXTQG7BYEXGF
        aws-secret-access-key: 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
        aws-region: us-east-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: docker-repo
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
        docker push -a $ECR_REGISTRY/$ECR_REPOSITORY
        
    - name: s3
      uses: jakejarvis/s3-sync-action@master
      with:
       args: --acl public-read --follow-symlinks --delete
      env:
        aws_key_id: AKIA3RXNTXTQG7BYEXGF
        aws_secret_access_key: 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
        AWS_S3_BUCKET: ay-bucket1
        AWS_REGION: 'us-east-2'   # optional: defaults to us-east-1
        source_dir: 'http://acs.amazonaws.com/groups/global/AllUsers'
